@import 'variables';

body {
font-family: 'Quicksand', sans-serif;
}

.class_page_class_list {
  border: 1px solid #DDD;
  padding: 10px;
  margin: 4px; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; 
}

.hide {
  display: none; 
}

ul.top_nav {
  position: fixed;
  margin: 0;
  padding: 10px 0 0 0;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 55px;
  background-color: #111;
  opacity: 0.9;
}

.top_nav li {
  display: inline;
  float: right;
  background-color: #EEE;
  color: #000;
  margin: 5px 20px;
  padding: 8px 25px;
  border-radius: 20px;
  opacity: 1;
  box-shadow: 1px 1px #CCC;


}

.top_nav li:hover {
  background-color: $color_cerise;
  color: white;
  box-shadow: 1px 1px $color_cerise_dark;
}

.top_nav a:visited {
  color: #222;
}

.header {
  background-color: #000;
  background-image: url("../images/woods.jpeg");
  background-repeat: no-repeat;
  background-position: center; 
  width: 100%;
  height: 100vh;
  min-height: 700px;

  h1 {
    font-size: 50px;
    color: #EEE;
    text-align: center;
    text-shadow: 2px 2px #111;
  }
  p{
    font-size: 20px;
    color: #EEE;
    text-align: center;
    text-shadow: 2px 2px #111;

  }
}

.header_box{
  display: table-cell;
  vertical-align: middle;
}

.header_filter{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 155, .5);
  display:table;

}

.small_info_content{
  display: flex;
  background-color: #FFF;
  padding: 3%;
}

.info_cont{
  background-color: #FFF;
  color: #000;
  width: 44%;
  margin: 3%;
  padding: 20px;
  border-top: 2px solid $color_cerise;
  border-bottom: 2px solid $color_cerise;
}

#register_content {
  height: 300px;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: #222;
  h2{
    color: #EEE;
    margin: 0 0 50px 0;
  }
}

.future_classes_content{
  margin: 0 auto 0 auto;
  background-color: #EEE;
  width: 60%;
  padding: 40px;
}

.future_classes_content table{
  margin: 0 auto 0 auto;
}

.future_classes_content tr td{
  padding: 20px 30px;
}

.register_form_content{
  margin: 0 auto 0 auto;
  background-color: #EEE;
  width: 60%;
  padding: 40px;
}

.register_form_content table{
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
}

.register_form_content td{
  padding: 5px;
}

.register_form_content input[type=text]{
  width: 50%;
  padding: 10px 20px;
}

.register_form_content input[type=submit]{
  background-color: $color_cerise;
  color: #EEE;
  margin: 5px 10px;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px $color_cerise_dark;
}

.register_form_content a:hover{
  text-decoration: underline;
}
.register_form_content a:visited{
  color: 000;
}

.booking_button{
  background-color: $color_cerise;
  color: #EEE;
  margin: 5px 10px;
  padding: 10px 25px;
  border-radius: 20px;
  box-shadow: 1px 1px $color_cerise_dark;
}
.booking_button:hover {
  background-color: $color_cerise_hover;
  color: EEE;
  box-shadow: 1px 1px $color_cerise_hover_dark;
}

.table_header_register{
  border-bottom: 1px solid #DDD;
}
